<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage_MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="../App_Themes/Default/JS/jquery-3.3.1.js"></script>
    <script src="../App_Themes/Default/JS/bootstrap.bundle.js"></script>
    <link href="../App_Themes/Estilo/EstiloMaster.css" rel="stylesheet" />
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        
        <header>
		<nav >
			<ul  class="navbar-nav mr-auto">
                <li class="nav-item active"  id="primero"><a class="nav-link" href="Index.aspx">INICIO</a></li>
                <li class="nav-item active" id="segundo"><a class="nav-link" href="#">HISTORIAL</a></li>
                <li class="nav-item active" id="tercero"><a class="nav-link" href="../Peticiones.aspx">PETICIONES</a></li>
                <li class="nav-item active" id="cuarto"><a class="nav-link" href="../Invitar.aspx">REGISTRO DOCENTE</a></li>
                 <li class="nav-item active" id="quinto"><a class="nav-link" href="../RegistroAdmin.aspx">REGISTRO ADMIN</a></li>
			</ul>
		</nav>
	</header>
        <div>

        </div>
    <div id="contenedor">

        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
        <footer>
            <a>JoseelGP@gmail.com</a>
        </footer>
    </form>
    <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields

</script>
</body>
</html>
