<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_Com.Properties.Settings.FormulariosConnectionString"
            
            connectionString="Data Source=DESKTOP-O9IE2P5\SQLEXPRESS;Initial Catalog=Formularios;Integrated Security=True"

            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>