<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_Com.Properties.Settings.FormulariosConnectionString"
            connectionString="Data Source=LAPTOP-SD38PIKH\ELMER;Initial Catalog=Formularios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>